@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default background color of <body />...etc */
    --background: 0 0% 100%; /** hsla(0, 0%, 100%, 1) */
    --foreground: 220 60% 20%; /** hsla(220, 60%, 20%, 1) */

    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: 207 26% 93%; /** hsla(207, 26%, 93%, 0.8); */
    --popover-foreground: 220 60% 20%;

    /* Primary colors for <Button /> */
    --primary: 220 60% 20%; /** hsla(220, 60%, 20%, 1) */
    --primary-foreground: 0 0% 100%; /** hsla(0, 0%, 100%, 1) */

    /* Secondary colors for <Button /> */
    /* --secondary: 220 14.3% 95.9%; */
    /* --secondary-foreground: 220.9 39.3% 11%; */

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 200 33% 95%; /** hsla(200, 33%, 95%, 1) */
    --muted-foreground: 221 22% 53%; /** hsla(221, 22%, 53%, 1) */

    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: 220 14.3% 95.9%; /** hsla(200, 83%, 79%, 1) */
    --accent-foreground: 220.9 39.3% 11%; /** hsla(220, 60%, 20%, 1) */

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: 338 97% 46%; /** hsla(338, 97%, 46%, 1) */
    --destructive-foreground: 200 33% 95%; /** hsla(200, 33%, 95%, 1) */

    /* Custom topic background color that loaded from cms */
    /* --topic: 220 14.3% 95.9%; * hsla(200, 83%, 79%, 1) */

    /* Link text */
    --link: 237.3 83.18% 58.04%;

    /* Default border color */
    --border: 240 3% 85%; /** hsla(240, 3%, 85%, 1) */

    /* Background color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: 220 60% 20%; /** hsla(0, 0%, 100%, 1) */

    /* Used for focus ring */
    --ring: 220 60% 20%; /** hsla(220, 60%, 20%, 1) */

    /* Base border radius for card, input and buttons */
    --radius: 20px;

    /* Spacings used for `m-*` & `p-*` */
    --indent-xs: 5px;
    --indent-sm: 10px;
    --indent-md: 20px;
    --indent-lg: 25px;
    --indent-xl: 30px;
    --indent-2xl: 75px;

    /* Font sizes */
    --font-xs: 12px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 20px;
    --font-xl: 24px;
    --font-2xl: 32px;
    --font-3xl: 48px;
    --font-4xl: 64px;

    /* Font weight */
    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 600;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium;
}

h1 {
  @apply text-3xl md:text-4xl;
}

h2 {
  @apply text-2xl md:text-3xl;
}

h3 {
  @apply text-xl md:text-2xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-sm font-normal md:text-md;
}

h6 {
  @apply text-xl font-normal;
}

*,
*:after,
*:before {
  @apply box-border;
}

@layer base {
  * {
    @apply border-border;
  }

  *,
  *:after,
  *:before {
    @apply box-border;
  }

  html {
    @apply scroll-pt-10 scroll-smooth;
  }

  body {
    line-height: 1;
    @apply bg-background font-helvetica text-lg text-foreground;
  }
}
